.page-404-title {
	width: 540px;
	max-width: 100%;
	padding: 40px 20px ;
	margin: 0 auto;
	.img-wrapper {
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
.page-404-subtitle {
	text-align: center;
	padding-bottom: 40px;
	h1 {
		font-weight: bold;
		font-size: 26px;
		line-height: 120%;
		margin-bottom: 25px;
		color: #010101;
	}
	p {
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		color: #7B7B7B;
	}
	a {
		color: #2DBB54;
		text-decoration: underline;
		&:hover {
			color: $primary-color;
		}
	}
}
@media (max-width: 1000px) {
	.page-404-title {
		width: 500px;
		padding: 30px 10px ;
	}
	.page-404-subtitle {
		padding-bottom: 30px;
		h1 {
			font-size: 22px;
		}
		p {
			font-size: 14px;
			line-height: 120%;

		}
	}
}
